
.bg{
    height: 1013px;
    width: 1530px;   
    opacity: 0.5; 
}



.heading {
    color: white;
    position: absolute;
    left: 830px;
    top: 350px;
}

.paragraph{
    color: white;
    position: absolute;
    left: 850px;
    top: 430px;
    width:370px;
}

.llight{
    position: absolute;
    left: 850px;
    top: 500px;
}

.transfer{
    height: 470px;
    width: 570px;
    position: absolute;
    left:100px;
    top: 120px;
}


.form-floating{
    position: absolute;
    left:800px;
    top: 250px;
    width: 450px;
}

.two{
    position: absolute;
    left:800px;
    top: 320px;
}

.three{
    position: absolute;
    left:800px;
    top: 390px;
    width: 450px; 
}

.post{
    position: absolute;
    left:800px;
    top: 480px;
    width: 450px; 
}

.post2{
    position: absolute;
    left:800px;
    top: 530px;
    width: 450px; 
}

.fw-normal{
    position: absolute;
    left:800px;
    top: 200px;
}

.hist{
    opacity: 0.5;
    height: 713px;
    width: 1530px;
}

.lists{
    position: absolute;
    top: 650px;
    left: 500px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 15px 35px;
    color: black;
    opacity: 0.5;
}

th{
    padding: 15px 20px;
    font-weight: bolder;
    font-size: larger;
}

td{
    padding: 15px 20px;
    font-weight: bold;
}

.footer{
    background-color: #212529;
    text-align: center;
    height: 110px;
    color: white;
    position: absolute;
    top: 1023px;
    width:1540px;

}

.text{
    padding-top: 30px;
}

i{
    padding: 0px 5px;
    color: white;
    cursor: pointer;
}

.card{
    position: absolute;
    top: 200px;
    left: 900px;
}

.card-img-top{
    width: 340px;
    height: 350px;
}

.cardbg{
    height: 600px;
    width: 850px;
    position: absolute;
    top:180px;
}

span{
    font-weight: bold;
}

.modal{
    position: absolute;
    top: 530px;
    left: 800px;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer .button{
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .about{
    position: absolute;
    left: 750px;
    top: 300px;
  }

  .about-2{
    position: absolute;
    left: 650px;
    top: 500px;
  }

  .aboutimg{
    position: absolute;
    left: 40px;
    top: 150px;
  }

  @media (max-width: 1318px){
    .bg{
        width: 1318px;
    }
    .footer{
        width: 1318px;
    }
    .paragraph{
        position: absolute;
        top: 420px;
    }
    .heading{
        position: absolute;
        top: 320px;
    }
  }

  @media (max-width: 1440px){
    .bg{
        width: 1435px;
    }
    .footer{
        width: 1435px;
    }
    .paragraph{
        position: absolute;
        top: 430px;
    }
    .heading{
        position: absolute;
        top: 310px;
    }
  }

  @media (max-width: 1204px){
    .bg{
        width: 1204px;
    }
    .footer{
        width: 1204px;
        position: absolute;
        top: 1523px;
    }
    .heading{
        position: absolute;
        left: 700px;
    }
    .paragraph{
        position: absolute;
        left: 730px;
    }
    .llight{
        position: absolute;
        left: 730px;
    }
    .transfer{
        position: absolute;
        left: 20px;
       top: 300px;
    }
    .form-floating{
        position: absolute;
        left:100px;
        top: 880px;
        width: 450px;
    }
    .two{
        position: absolute;
        left:100px;
        top: 810px;
    }
    
    .three{
        position: absolute;
        left:100px;
        top: 950px;
        width: 450px; 
    }
    .fw-normal{
        position: absolute;
        top: 760px;
        left: 100px;
    }
    .post{
        position: absolute;
        left:100px;
        top: 1040px;
        width: 450px; 
    }
    
    .post2{
        position: absolute;
        left:100px;
        top: 1090px;
        width: 450px; 
    }
    .lists{
        position: absolute;
    top: 1180px;
    left: 100px;
    }
    .cardbg{
        width: 550px;
        height: 400px;
        position: absolute;
        top: 300px;
    }

    .card{
        position: absolute;
        top: 750px;
        left: 100px;
    }
    .aboutimg{
        position: absolute;
        left: 100px;
        top: 290px;   
    }
    .about{
        position: absolute;
        left: 100px;
        top: 930px;
    }
    .about-2{
        position: absolute;
        left: 100px;
        top: 1130px;

    }
  }

  @media(max-width: 1086px){
    .bg{
        width: 1086px;
    }
    .footer{
        width: 1086px;
    }
    .heading{
        position: absolute;
        left: 600px;
    }
    .paragraph{
        position: absolute;
        left: 630px;
    }
    .llight{
        position: absolute;
        left: 630px;
    }
  }

  @media(max-width: 987px){
    .bg{
        width: 986px;
    }
    .footer{
        width: 986px;
    }
    .heading{
        position: absolute;
        left: 500px;
    }
    .paragraph{
        position: absolute;
        left: 530px;
    }
    .llight{
        position: absolute;
        left: 530px;
    }
  }

  @media(max-width: 768px){
    .bg{
        width: 768px;
    }
    .footer{
        width: 768px;
    }
    .heading{
        position: absolute;
        left: 300px;
    }
    .paragraph{
        position: absolute;
        left: 330px;
    }
    .llight{
        position: absolute;
        left: 330px;
    }
    .about{
        position: absolute;
        left: 50px;

    }
    .about-2{
        position: absolute;
        left: 50px;
    }
  }

  @media(max-width: 362px){
    .bg{
        width: 362px;
        height: 1023px;
    }
    .footer{
        width: 362px;
    }
    .heading{
        position: absolute;
        left: 0px;
        top: 400px;
    }
    .paragraph{
        position: absolute;
        left: 0px;
        top: 480px;
    }
    .llight{
        position: absolute;
        left: 10px;
        top: 560px;
    }
    .form-floating{
        width: 250px;
    }
    .two{
        width: 250px;
    }
    
    .three{
        width: 250px;
    }
    .fw-normal{
        position: absolute;
        top: 730px;
        left: 100px;
    }
    .post{
        width: 250px;
    }
    
    .post2{
       width: 250px;
    }
    .lists{
        position: absolute;
    left: 0px;
   padding: 1px;
    }
    .transfer{
        width: 300px;
        position: absolute;
        left: 20px;
       top: 300px;
    }
    .cardbg{
        width: 350px;
        height: 250px;
        position: absolute;
        left: 10px;
    }
    .card{
        width: 350px;
        height: 250px;
        position: absolute;
        left: 10px;
    }
    .about{
        position: absolute;
        width: 450px;
    }
    .about-2{
        position: absolute;
        left: 100px;
        top: 1000px;
        width: 450px;
    }
  }