
.bg{
    height: 713px;
    width: 1530px;   
    opacity: 0.5; 
}



.heading {
    color: white;
    position: absolute;
    left: 830px;
    top: 350px;
}

.paragraph{
    color: white;
    position: absolute;
    left: 850px;
    top: 430px;
    width:370px;
}

.llight{
    position: absolute;
    left: 850px;
    top: 500px;
}